body{
    width: 100%;
    min-height: 100vh;
}

.container{
    min-height: 100vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}