body{
    min-height:100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container{
    padding:20px;
    margin: 0 auto;
    width:90%;
    min-height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    
}

a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.add{
    background: #3269eb;
    width: 20%;
    padding:10px;
    font-size: 4vmin;
}

.update{
    background: #267c0b;
    width: 30%;
    padding:5px;
    font-size: 3vmin;
}

.delete{
    background: #eb3232;
    width: 30%;
    padding:5px;
    font-size: 3vmin;
}

.show{
    background: #3269eb;
    width: 30%;
    padding:5px;
    font-size: 3vmin;
}

.add:hover , .show{
    background: #1c4fbe;
    transition: all 0.1s;
}

.update:hover{
    background: #1e6608;
    transition: all 0.1s;
}

.delete:hover{
    background: #cf1f1f;
    transition: all 0.1s;
}

.tablecontain{
    max-width: 100%;
    overflow: auto;
    padding: 2px 0px;
}

table{
    font-size: 3vmin;
    min-width: 100%;
}

table thead th{
    text-align: center;
    padding:10px;
    height: 30px;
    min-width:100px;
}

table tbody tr td{
    border-bottom: 1px solid lightgray;
    color:#444;
}

table tbody tr td,table tbody tr th{
    text-align: center;
    min-width:100px;
    padding:10px;
    height: 30px;
    border-collapse: collapse;
}

.action{
    min-width: 200px;
}